Create a Pandas Data Frame from the Wikipedia page

First I will need to install the necessary libraries and install lxml

In [1]:
# Import libraries
import pandas as pd
import numpy as np
!pip install lxml

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.4.1)

Now I will use pandas read html to scrape the data from Wikipedia

In [2]:
YYZ = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
YYZ

[    Postcode           Borough          Neighbourhood
 0        M1A      Not assigned           Not assigned
 1        M2A      Not assigned           Not assigned
 2        M3A        North York              Parkwoods
 3        M4A        North York       Victoria Village
 4        M5A  Downtown Toronto           Harbourfront
 ..       ...               ...                    ...
 283      M8Z         Etobicoke              Mimico NW
 284      M8Z         Etobicoke     The Queensway West
 285      M8Z         Etobicoke  Royal York South West
 286      M8Z         Etobicoke         South of Bloor
 287      M9Z      Not assigned           Not assigned

 [288 rows x 3 columns],
                                                   0   \
 0                                                NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
 2                                                 NL
 3                                                  A

                                                   1   \
 0                              Canadian postal codes
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
 2                                                 NS
 3                                                  B

                                                   2    3    4    5    6    7   \
 0                                                NaN  NaN  NaN  NaN  NaN  NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...  NaN  NaN  NaN  NaN  NaN
 2                                                 PE   NB   QC   QC   QC   ON
 3                                                  C    E    G    H    J    K

     8    9    10   11   12   13   14   15     16   17
 0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
 1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
 2   ON   ON   ON   ON   MB   SK   AB   BC  NU/NT   YT
 3    L    M    N    P    R    S    T    V      X    Y  ,
    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15     16  17
 0  NL  NS  PE  NB  QC  QC  QC  ON  ON  ON  ON  ON  MB  SK  AB  BC  NU/NT  YT
 1   A   B   C   E   G   H   J   K   L   M   N   P   R   S   T   V      X   Y]

Now I need to remove the bottom portion of the data

In [3]:
YYZ_temp = YYZ[:1]
YYZ_temp

[    Postcode           Borough          Neighbourhood
 0        M1A      Not assigned           Not assigned
 1        M2A      Not assigned           Not assigned
 2        M3A        North York              Parkwoods
 3        M4A        North York       Victoria Village
 4        M5A  Downtown Toronto           Harbourfront
 ..       ...               ...                    ...
 283      M8Z         Etobicoke              Mimico NW
 284      M8Z         Etobicoke     The Queensway West
 285      M8Z         Etobicoke  Royal York South West
 286      M8Z         Etobicoke         South of Bloor
 287      M9Z      Not assigned           Not assigned

 [288 rows x 3 columns]]

Now I must put the data into a Data Frame

In [5]:
YYZ_temp = pd.DataFrame(data=YYZ[0])
YYZ_temp

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
283      M8Z         Etobicoke              Mimico NW
284      M8Z         Etobicoke     The Queensway West
285      M8Z         Etobicoke  Royal York South West
286      M8Z         Etobicoke         South of Bloor
287      M9Z      Not assigned           Not assigned

[288 rows x 3 columns]

Dropping Boroughs that are not assigned

In [6]:
# Replace Not assigned with NaN
YYZ_temp['Borough'].replace("Not assigned", np.nan, inplace = True)
YYZ_temp.dropna(inplace=True)
YYZ_temp.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

Checking data shape

In [7]:
YYZ_temp.shape

(211, 3)

Replace "Not assigned" in Neighbourhoods with Borough name

In [13]:
YYZ_temp['Neighbourhood'].replace("Not assigned", "Queen's Park", inplace=True)
YYZ_temp[6:10]

   Postcode       Borough     Neighbourhood
8       M7A  Queen's Park      Queen's Park
10      M9A     Etobicoke  Islington Avenue
11      M1B   Scarborough             Rouge
12      M1B   Scarborough           Malvern

Check to make sure there are no other Neighbourhoods that are not assigned

In [18]:
len(YYZ_temp[YYZ_temp['Neighbourhood'].str.contains("Not Assigned")])

0

Reset the index to start at 0

In [53]:
YYZ_temp.reset_index(drop=True, inplace=True)
YYZ_temp[0:3]

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront

Use the Group by function to group by Postcode

In [54]:
df_YYZ = YYZ_temp.groupby(['Postcode','Borough'],sort=False).agg(lambda x: ', '.join(x))
df_YYZ

                                                               Neighbourhood
Postcode Borough
M3A      North York                                                Parkwoods
M4A      North York                                         Victoria Village
M5A      Downtown Toronto                          Harbourfront, Regent Park
M6A      North York                         Lawrence Heights, Lawrence Manor
M7A      Queen's Park                                           Queen's Park
...                                                                      ...
M8X      Etobicoke             The Kingsway, Montgomery Road, Old Mill North
M4Y      Downtown Toronto                               Church and Wellesley
M7Y      East Toronto      Business Reply Mail Processing Centre 969 Eastern
M8Y      Etobicoke         Humber Bay, King's Mill Park, Kingsway Park So...
M8Z      Etobicoke         Kingsway Park South West, Mimico NW, The Queen...

[103 rows x 1 columns]

Reset the index to match the example

In [55]:
df_YYZ.reset_index(drop=False, inplace=True)
df_YYZ.head(12)

,Postcode,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Harbourfront, Regent Park"
3,M6A,North York,"Lawrence Heights, Lawrence Manor"
4,M7A,Queen's Park,Queen's Park
5,M9A,Etobicoke,Islington Avenue
6,M1B,Scarborough,"Rouge, Malvern"
7,M3B,North York,Don Mills North
8,M4B,East York,"Woodbine Gardens, Parkview Hill"
9,M5B,Downtown Toronto,"Ryerson, Garden District"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ..."

Checking the File Path

In [60]:
pwd

'/resources/labs/DP0701EN'

Create a CSV file

In [61]:
df_YYZ.to_csv('/resources/labs/DP0701EN/Toronto_Neigh.csv')

Number of Rows in my Data Frame

In [62]:
df_YYZ.shape

(103, 3)